<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conway_s_Game_Of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conway_s_Game_Of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Conway_s_Game_Of_Life.Properties.Settings>
            <setting name="gridColor" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="aliveCellColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="deathCellColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="gridThickness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mouseAlive" serializeAs="String">
                <value>WindowFrame</value>
            </setting>
            <setting name="mouseDead" serializeAs="String">
                <value>Silver</value>
            </setting>
        </Conway_s_Game_Of_Life.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Conway_s_Game_Of_Life.Properties.Settings>
            <setting name="colonyIsDeadMessage" serializeAs="String">
                <value>Вся колония умерла.</value>
            </setting>
            <setting name="colonyIsStableMessage" serializeAs="String">
                <value>Колония приняла стабильное состояние.</value>
            </setting>
            <setting name="colonyIsLoopMessage" serializeAs="String">
                <value>Колония перешла в цикличное состояние</value>
            </setting>
        </Conway_s_Game_Of_Life.Properties.Settings>
    </applicationSettings>
</configuration>